apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ${APP_NAME}
  annotations:
    kubernetes.io/ingress.class: traefik
    cert-manager.io/cluster-issuer: letsencrypt-prod
spec:
  ingressClassName: traefik
  tls:
    - hosts:
        - murierromain.com
        - test.murierromain.com
      secretName: ${APP_NAME}-tls
  rules:
    - host: murierromain.com
      http:
        paths:
          - path: /api
            pathType: Prefix
            backend:
              service:
                name: ${APP_NAME}
                port:
                  number: 80
          - path: /
            pathType: Prefix
            backend:
              service:
                name: porty-front
                port:
                  number: 80

    - host: test.murierromain.com
      http:
        paths:
          - path: /api
            pathType: Prefix
            backend:
              service:
                name: ${APP_NAME}
                port:
                  number: 80
          - path: /
            pathType: Prefix
            backend:
              service:
                name: porty-front
                port:
                  number: 80
